certifi==2026.6.17
charset-normalizer==3.4.7
feedparser==6.0.12
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
psutil==7.2.2
Pygments==2.20.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pytest==9.1.1
requests==2.34.2
sgmllib3k==1.0.0
urllib3==2.7.0
